<template lang="pug">
  form.mx-auto(@submit.prevent="submit")
    question-body(
      :markdown="question.text"
      :image="question.image"
    )

    question-answers(
      :config="question.config"
      :answer="answer"
      @change="setAnswer"
    )

    question-submit(
      :last="last"
      :disabled="!answerValid"
    )
</template>

<script>
import { computed, ref, watchEffect } from '@vue/composition-api';

import QuestionAnswers from './QuestionAnswers.vue';
import QuestionBody from './QuestionBody.vue';
import QuestionSubmit from './QuestionSubmit.vue';
import { QuestionType } from '../../../constants/enums';

const getAnswerType = (config) => ({
  [QuestionType.SELECT]: () => (config.multiple ? Array : String),
  [QuestionType.INPUT]: () => String,
}[config.type]());

const getValidator = (answerType) => ({
  [String]: (str) => typeof str === 'string' && str.length > 0,
  [Array]: (array) => Array.isArray(array) && array.length > 0,
}[answerType]);

export default {
  name: 'Question',

  components: {
    QuestionAnswers,
    QuestionBody,
    QuestionSubmit,
  },

  props: {
    question: {
      required: true,
      type: Object,
    },

    last: Boolean,
  },

  setup({ question }, { emit }) {
    const AnswerType = getAnswerType(question.config);

    const answer = ref(new AnswerType());

    const setAnswer = (newAnswer) => {
      answer.value = newAnswer;
    };

    const questionData = computed(() => ({
      [question.id]: answer.value,
    }));

    const answerValid = ref(false);

    const validate = getValidator(AnswerType);

    watchEffect(() => {
      answerValid.value = validate(answer.value);
    });

    const submit = () => {
      emit('answer', questionData);
    };

    return {
      answer,
      setAnswer,
      questionData,
      submit,
      answerValid,
    };
  },
};
</script>
