<template lang="pug">
  v-card-text.question__answer
    v-container(v-if="multiple" fluid)
      v-checkbox(
        v-model="value"
        v-for="a in answers"
        :value="a.id"
        :key="a.id"
      )
        div(slot="label" v-html="toHtml(a.text)")

    v-radio-group(v-else v-model="value")
      v-radio(
        v-for="a in answers"
        :value="a.id.toString()"
        :key="a.id"
      )
        div(slot="label" v-html="toHtml(a.text)")
</template>

<script>
import { computed } from '@vue/composition-api';
import { toHtml } from '../../../utils/markdown';

export default {
  name: 'QuestionAnswerSelect',

  props: {
    answer: {
      required: true,
      type: [Array, String],
    },

    answers: {
      required: true,
      type: Array,
    },

    multiple: Boolean,
  },

  setup(props, { emit }) {
    const value = computed({
      get: () => props.answer,
      set: (answer) => emit('change', answer),
    });

    return {
      value,
      toHtml,
    };
  },
};
</script>

<style lang="stylus" scoped>
  .question__answer
    >>> p
      margin-bottom 0
</style>
