<template lang="pug">
    v-card-title.question__title(v-html="text")
</template>

<script>
import { computed } from '@vue/composition-api';
import { toHtml } from '../../../utils/markdown';

export default {
  props: {
    markdown: {
      required: true,
      type: String,
    },
    image: String,
  },

  setup(props) {
    const text = computed(() => toHtml(props.markdown));

    return {
      text,
    };
  },
};
</script>

<style scoped lang="stylus">
  .question__title
    >>> img
      margin 15px 0
      max-width 100%
      display block
</style>
