<template lang="pug">
  v-card-text.text-center
    v-btn(
      large
      :disabled="disabled"
      color="default"
      type="submit"
    ) {{ translate(i18n.SUBMIT_BUTTON) }}
</template>

<script>
import DictionaryMapping from '../../../i18n/DictionaryMapping';
import { useLocale } from '../../../functions/useLocale';

const i18n = DictionaryMapping.Ui.Question.Form;

export default {
  name: 'QuestionSubmit',

  props: {
    disabled: Boolean,
  },

  setup() {
    const { translate } = useLocale();

    return {
      i18n,
      translate,
    };
  },
};
</script>
