<template lang="pug">
  v-card-text
      v-text-field(
        v-model="value"
        :placeholder="translate(i18n.INPUT_PLACEHOLDER)"
      )
</template>

<script>
import { ref, watchEffect } from '@vue/composition-api';

import { useLocale } from '../../../functions/useLocale';
import DictionaryMapping from '../../../i18n/DictionaryMapping';

const i18n = DictionaryMapping.Ui.Question.Form;

export default {
  name: 'QuestionAnswerInput',
  setup(props, { emit }) {
    const { translate } = useLocale();

    const value = ref('');

    watchEffect(() => {
      emit('change', value.value);
    });

    return {
      value,
      i18n,
      translate,
    };
  },
};
</script>

<style scoped>

</style>
