<script>
import QuestionAnswerInput from './QuestionAnswerInput.vue';
import QuestionAnswerSelect from './QuestionAnswerSelect.vue';
import { QuestionType } from '../../../constants/enums';

export default {
  name: 'QuestionAnswers',
  components: {
    QuestionAnswerInput,
    QuestionAnswerSelect,
  },
  props: {
    config: {
      required: true,
      type: Object,
    },

    answer: [Array, String, Number],

    error: Boolean,
  },

  setup(props, { emit }) {
    const onChange = (value) => {
      emit('change', value);
    };

    return {
      onChange,
    };
  },

  render(h) {
    const { type, answers, multiple } = this.config;

    if (![QuestionType.INPUT, QuestionType.SELECT].includes(type)) {
      throw new Error(`QuestionType '${type}' not supported!`);
    }

    const renderSelectType = () => h('question-answer-select', {
      props: {
        answer: this.answer,
        error: this.error,
        answers,
        multiple,
      },
      on: {
        change: this.onChange,
      },
    });

    const renderInputType = () => h('question-answer-input', {
      props: {
        answer: this.answer,
        error: this.error,
      },
      on: {
        change: this.onChange,
      },
    });

    return {
      [QuestionType.SELECT]: renderSelectType,
      [QuestionType.INPUT]: renderInputType,
    }[type]();
  },
};
</script>

<style scoped>

</style>
