<template lang="pug">
  .question-test__questions
    .display-2.text-center.mb-5 Язык JavaScript

    v-stepper.mb-5(v-model="questionCurrent")
      v-stepper-header
        template(v-for="i in questions.length")
          v-divider(v-if="i !== 1")
          v-stepper-step(
            :complete="i + 1 <= questionCurrent"
            :step="i"
          )

      v-stepper-items

      v-stepper-content.pa-0(
        v-for="(q, i) in questions"
        :step="i + 1"
        :key="q.id"
      )
        question.mb-5(
          :question="q"
          :last="i === questions.length - 1"
          @answer="onAnswer"
        )
</template>

<script>
import Question from '../Question/Question.vue';
import { computed, ref } from '@vue/composition-api';

export default {
  name: 'QuestionTestQuestions',

  components: {
    Question,
  },

  props: {
    questions: Array,
  },

  setup({ questions }, { emit }) {
    const questionCurrent = ref(1);

    const questionsTotal = computed(() => questions.length);

    const requestData = {};

    const onAnswer = (data) => {
      Object.assign(requestData, data);
      questionCurrent.value += 1;

      // If test ended
      if (questionCurrent.value > questionsTotal.value) {
        emit('complete', requestData);
      }
    };

    return {
      questionCurrent,
      onAnswer,
    };
  },
};
</script>
