<template lang="pug">
  .question-test__complete
    .display-3.mb-5 {{ translate(DictionaryMapping.Ui.Title.CONGRATULATIONS) }}!
    .display-1.mb-5 {{ translate(i18n.TEST_COMPLETE) }}!
    v-btn(
      color="success"
      @click="$emit('seeResults')"
    ) {{ translate(i18n.SEE_RESULTS) }}
</template>

<script>
import { useLocale } from '../../../functions/useLocale';
import DictionaryMapping from '../../../i18n/DictionaryMapping';

const i18n = DictionaryMapping.Ui.Component.QuestionTestComplete;


export default {
  name: 'QuestionTestComplete',

  setup() {
    const { translate } = useLocale();

    return {
      i18n,
      translate,
      DictionaryMapping,
    };
  },
};
</script>

<style scoped>

</style>
