<template lang="pug">
  .question-test
    question-test-questions(
      v-if="stepActive(TestStep.QUESTIONS)"
      :questions="questions"
      @complete="onTestComplete"
    )

    question-test-complete(
      v-else-if="stepActive(TestStep.COMPLETE)"
      @seeResults="onSeeResults"
    )

    // TODO: Results component
    div(v-else-if="stepActive(TestStep.RESULTS)") Results
</template>

<script>
import { ref } from '@vue/composition-api';

import QuestionTestComplete from './QuestionTestComplete.vue';
import Question from '../Question/Question.vue';
import QuestionTestQuestions from './QuestionTestQuestions.vue';
import { TestStep } from '../../../constants/enums';


export default {
  name: 'QuestionTest',

  components: { QuestionTestQuestions, QuestionTestComplete, Question },

  props: {
    questions: {
      required: true,
      type: Array,
    },
  },

  setup() {
    const step = ref(TestStep.QUESTIONS);

    const stepActive = (currentStep) => currentStep === step.value;

    const answers = ref(null);

    const onTestComplete = (data) => {
      answers.value = data;
      step.value = TestStep.COMPLETE;
    };

    const onSeeResults = () => {
      step.value = TestStep.RESULTS;
    };


    return {
      TestStep,
      stepActive,
      onTestComplete,
      onSeeResults,
    };
  },
};
</script>

<style lang="stylus" scoped>
  .question-test
    display flex
    flex-grow 1

  .question-test__questions
    flex-grow 1

  .question-test__complete
    display flex
    flex-flow column nowrap
    flex-grow 1
    align-items center
    justify-content center
</style>
