<template lang="pug">
    QuestionTest(
      :questions="questions"
      @complete="onComplete"
    )
</template>

<script>
import QuestionTest from '../common/QuestionTest/QuestionTest.vue';
import questions from '../../resources/questions.json';

export default {
  name: 'Home',

  components: { QuestionTest },

  setup() {
    const onComplete = (data) => {
      console.log(data);
    };


    return {
      questions,
      onComplete,
    };
  },
};
</script>

<style scoped>

</style>
