<template lang="pug">
  v-container(fluid)
    v-select(
      :items="languageItems"
      :label="translate(i18n.LANGUAGE)"
      :value="lang"
      item-text="label"
      item-value="value"
      @change="setLang"
    )

    v-select(
      :items="themeItems"
      :label="translate(i18n.THEME)"
      :value="theme"
      item-text="label"
      item-value="value"
      @change="onThemeChange"
    )
</template>

<script>
import { computed } from '@vue/composition-api';
import { useLocale } from '../../functions/useLocale';
import DictionaryMapping from '../../i18n/DictionaryMapping';
import { Theme } from '../../constants/enums';
import { useTheme } from '../../functions/useTheme';

const i18n = DictionaryMapping.Ui.Page.Settings;

const getLanguageItems = (translate) => ([
  {
    value: 'en',
    label: translate(DictionaryMapping.Languages.ENGLISH),
  },
  {
    value: 'ru',
    label: translate(DictionaryMapping.Languages.RUSSIAN),
  },
]);

const getThemeItems = (translate) => ([
  {
    value: Theme.DARK,
    label: translate(DictionaryMapping.ColorTheme.DARK),
  },
  {
    value: Theme.LIGHT,
    label: translate(DictionaryMapping.ColorTheme.LIGHT),
  },
]);

export default {
  name: 'Settings',

  setup(props, { root: { $vuetify } }) {
    const { translate, lang, setLang } = useLocale();

    const languageItems = computed(() => getLanguageItems(translate));

    const { theme, setTheme } = useTheme();

    const themeItems = computed(() => getThemeItems(translate));

    const onThemeChange = (newTheme) => {
      $vuetify.theme.dark = Theme.DARK === newTheme;
      setTheme(newTheme);
    };

    return {
      lang,
      i18n,
      translate,

      languageItems,
      setLang,

      theme,
      themeItems,
      onThemeChange,
    };
  },
};
</script>

<style scoped>

</style>
