<template lang="pug">
  v-app
    navigation-drawer(app v-model="drawer")

    v-app-bar(app dense)
      v-btn(icon @click="toggleDrawer")
        v-icon mdi-menu

    v-content
      v-container(fluid)
        router-view

    v-footer(app)
</template>

<script>
import boot from './bootstrap';
import { Theme } from './constants/enums';
import { useDrawer } from './functions/useDrawer';
import { provideLocale } from './functions/useLocale';
import { provideStore } from './functions/useStore';
import { provideTheme } from './functions/useTheme';
import NavigationDrawer from './layout/NavigationDrawer.vue';

export default {
  components: {
    NavigationDrawer,
  },
  setup(props, { root: { $store, $vuetify } }) {
    const [
      lang,
      theme,
    ] = boot();

    provideStore($store);
    provideLocale(lang);
    provideTheme(theme);

    $vuetify.theme.dark = Theme.DARK === theme;

    return {
      ...useDrawer(), // drawer, toggleDrawer
    };
  },
};
</script>
