<template lang="pug">
  v-navigation-drawer(app v-model="open")
    v-list-item
      v-list-item-content
        v-list-item-title(class="title") {{ translate(DictionaryMapping.Ui.APP_NAME) }}

    v-divider

    v-list(dense nav)
      v-list-item(
        link
        exact
        v-for="item in menuItems"
        :key="item.name"
        :to="{ name: item.route }"
      )
        v-list-item-icon(): v-icon {{ item.icon }}

        v-list-item-content(): v-list-item-title {{ item.name }}

</template>

<script>
import { computed } from '@vue/composition-api';
import DictionaryMapping from '../i18n/DictionaryMapping';
import routeName from '../router/routeName';
import { useLocale } from '../functions/useLocale';

const i18n = DictionaryMapping.Ui.NavigationDrawerMenu;

const getMenuItems = (translate) => ([
  {
    icon: 'mdi-home',
    name: translate(i18n.HOME),
    route: routeName.HOME,
  },
  {
    icon: 'mdi-cogs',
    name: translate(i18n.SETTINGS),
    route: routeName.SETTINGS,
  },
]);

export default {
  name: 'NavigationDrawer',

  props: {
    value: Boolean,
  },

  setup(props, { emit }) {
    const { translate } = useLocale();

    const open = computed({
      get: () => props.value,
      set: (value) => emit('input', value),
    });

    const menuItems = computed(() => getMenuItems(translate));

    return {
      open,
      translate,
      menuItems,
      DictionaryMapping,
    };
  },
};
</script>

<style scoped>

</style>
